name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Run Playwright tests
      run: sudo helm install ${{ github.sha.substring(0,7) }}-execution-job ./helm-playwright -f ./helm-playwright/values/ci.yaml

    - name: Wait Playwright Job Finish
      run: |
        sudo kubectl wait --namespace=default --for=jsonpath='{.status.succeeded}'=1 --or=jsonpath='{.status.failed}'=1 --timeout=3m job/ob/${{ github.sha.substring(0,7) }}-execution-job || exit 1

    - name: Verify Job Status
      run: |
        FAILED=$(sudo kubectl get job ${{ github.sha.substring(0,7) }}-execution-job -o jsonpath='{.status.failed}')
        if [ "$FAILED" != "0" ]; then
          exit 1
        fi
    - name: Cleanup Helm Release
      run : |
        sudo helm uninstall play-${{ github.sha }}

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
