name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*

    - name: Run Playwright tests
      run: sudo helm install play-1 ./helm-playwright -f ./helm-playwright/values/ci.yaml

    - name: Wait Playwright Job Finish
      run: |
        sudo kubectl wait --for=condition=complete --timeout=30m job/playwright-job

    - name: Verify Job Status
      run: |
        FAILED=$(sudo kubectl get job playwright-job -o jsonpath='{.status.failed}')
        if [ "$FAILED" != "0" ]; then
          exit 1
        fi

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
